h1 {
    font-family: 'Plaiyfair Display', serif;
    font-weight: bold;
}

p{
    font-family: "Poppins", serif;
    font-weight: normal;
}

.hero {
    background: #f9f7fe;
    text-align: center;
}

.hero p{
font-size: 36px;
font-weight: bold;
margin: 0;
color: #272142;
}

.hero h2{
    font-family: "Poppins", serif;
    font-size: 24px;
    line-height: 2;
}
